<div class="img-services">
  <img src="assets/images/sections/services/desarrolloWeb.webp" [alt]=" 'services.title' | transloco ">
</div>

<div id="carousel" class="carousel slide">
  <!-- Indicadores -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <!-- Contenido -->
  <div class="carousel-inner">
    <!-- 1re Servicio -->
    <div class="carousel-item active">
      <div class="card-header">
        <span>
          <h3>{{ cardDataSlide_1[0].title }}</h3>
          <p>{{ cardDataSlide_1[0].subtitle }}</p>
        </span>
        <span>
          <i [class]="cardDataSlide_1[0].icon"></i>
        </span>        
      </div>
      <div class="card-content">
        
        <p>{{ cardDataSlide_1[0].description }}</p>

        <div class="card-services">
          <div class="service" *ngFor="let service of cardDataSlide_1[0].services">
            <span>
              <i [class]="service.icon"></i>
            </span>
            <small>
              {{ service.name }}
            </small>
          </div>
        </div>
      
      </div>
    </div>
    <!-- Servicios siguientes -->
    <div class="carousel-item" *ngFor="let item of cardData | slice:1">
      <div class="card-header">
        <span>
          <h3>{{ item.title }}</h3>
          <p>{{ item.subtitle }}</p>
        </span>
        <span>
          <i [class]="item.icon"></i>
        </span>        
      </div>
      <div class="card-content">
        
        <p>{{ item.description }}</p>

        <div class="card-services">
          <div class="service" *ngFor="let service of item.services">
            <span>
              <i [class]="service.icon"></i>
            </span>
            <small>
              {{ service.name }}
            </small>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
