#section6 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #303031;
  color: white;
}

.h2Light {
  color: white;
  font-size: 48px !important;
  font-weight: 700 !important;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  #section6 {
    padding-top: 4em;
  }
}
